.input-wrapper {
  overflow: hidden;
  position: relative;
  padding: 0px 11px;
  height: 50px;
  input {
    color: #000;
    font-family: Roboto;
    // font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;

    &::placeholder {
      color: #c0c0c0;
    }
  }

  &.disabled {
    background-color: #6b6b6b31;
    color: #000;
  }
}

input::-webkit-autofill {
  background-color: transparent !important;
  background: transparent !important;
}
.dash-input-field {
  .dash-wrapper {
    border-radius: 10px;
    background: var(--color-white-solid, #fff);
    input {
      color: #000000;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      padding-right: 0px !important;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      line-height: normal !important;
      &::placeholder {
        color: #718096;
      }
    }
  }
  .dash-label {
    color: var(--blue) !important;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 800px) {
  .dash-wrapper {
    max-width: 100% !important;
    width: 100%;
  }
}
