* {
  line-height: normal;
}

body {
  font-family: Roboto;

  h1 {
    font-size: 100px;
  }
  // h2 {
  //   font-size: 40px;
  // }
  h3 {
    font-size: 40px;
  }
  h3.small {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }
  h4.small {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 22px;
  }
  .elarge {
    font-size: 20px;
  }
  .large {
    font-size: 18px;
  }
  .medium {
    font-size: 16px;
  }
  .small {
    font-size: 14px;
  }
  .e-small {
    font-size: 12px;
  }
  .big {
    font-size: 34px !important;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    h1 {
      font-size: 80px;
    }
    // h2 {
    //   font-size: 40px;
    // }
    h3 {
      font-size: 30px;
    }
    h3.small {
      font-size: 32px;
    }

    h4 {
      font-size: 30px;
    }
    h4.small {
      font-size: 26px;
    }
    h5 {
      font-size: 23px;
    }

    h6 {
      font-size: 22px;
    }
    .elarge {
      font-size: 20px;
    }
    .large {
      font-size: 18px;
    }
    .medium {
      font-size: 16px;
    }
    .small {
      font-size: 14px;
    }
    .e-small {
      font-size: 12px;
    }
    .big {
      font-size: 34px !important;
    }
  }
}
